.sessao-bio{
    width: 100%;
    height:100vh;
    background-color:#f5f5f5;
    background:linear-gradient(#bbbbbb, #f5f5f5);
    color: var(--color-font);
    /*border-bottom: 0.1rem solid rgba(225, 225, 225, 0.7);*/
   
}


.bio-info{
    display: flex;
}

.bio-card{
    
    object-fit: cover;
    justify-content:center;
    align-items: center;
    flex: 1; 
    color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
}

.image-container{
    width: 11rem;
    height: 11rem;
    box-shadow: 0 0 40px 5px rgba(0,0,0,0.2);
    border-radius: 50%;
}

.figure img{
    width: 100%;
    max-width: 100%;
}

.bio-card-tittle{
    font-family: var(--font-primary);
    margin-top: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.bio-card-subtittle{
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    font-family: var(--font-primary);
    color: var(--color-secondary);
    font-size: .9rem;
    font-weight: lighter;

}

.bio-card-text{
    font-family: var(--font-primary);
    font-size: .8rem;
    font-weight: lighter;
    line-height: 1.2rem;
}


.container .bio{
    position: relative;
    /*background: hsla(191, 100%, 43%, 0.5);*/
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
    background: linear-gradient(to left, #0083B0, #00B4DB); 
    width:15rem;
    height:15rem;
    padding:2rem;
    border-radius:50%;
    cursor: pointer;
    box-shadow: 0 0 60px 5px(0,0,0,0.15);
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition:  width 0.4s, height 0.4s, border-radius 0.4s;
}

.container .bio:hover{
    margin-top: 5vh;
    width: 70%;
    height: 80vh;
    border-radius: 1rem;
}

.bio-body{
    
    flex: 1;
    margin-left: 0;
    margin-right:1rem;

}

.bio-tittle{
    font-family: var(--font-action);
    margin-top: 10vh;
    font-size: 2.2rem;
    color: var(--color-altsecundary);   
    font-weight: bold;
}

.bio-tittle-item{
    position: absolute;
    opacity: 0;
    animation: fader 16s infinite; 
    height: 2.2rem;
}

@keyframes fader {
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}
  
.english{
    animation-delay: 8s; 
}

.englishContrast{
    color: #ffffff;
    background-color: var(--color-altsecundary);
    animation-delay: 1s; 
}

.spanish{
    animation-delay: 4s; 
}

.spanishContrast{
    color: #ffffff;
    background-color: var(--color-altsecundary);
    animation-delay: 11s; 
}

.portuguese{
    animation-delay: 14s; 
}

.bio-text{
    font-family: var(--font-primary);
    color: #4b4b4b;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: lighter;
    margin-top: 25vh;
}

.bio-text a:hover{
    color: var(--color-contrast);
    font-size: 1.2rem;
}

.social-container{
    position: absolute;
    top: 2rem;
    left: -2rem;
    display: flex;
    flex-direction: column;
}

.social-container a{
    border: none;
    outline: none;
    background: none;
    color: #ffffff;
    width: 2rem;
    height: 2rem;
    font-size: 1.7em;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.4s;
    visibility: hidden;
}

.bio:hover .social-container a{
    transform: translate(4rem);
    transition-delay: 0.3s;
    visibility: visible;
}

.bio:hover .social-container a:nth-child(2){
    transition-delay: 0.7s;
}

.bio:hover .social-container a:nth-child(3){
    transition-delay: 1s;
}

.sessao-header-bio{
    display:flex;
    align-items: center;
    justify-content:start;
}

/*responsiveness*/
/*breakpoints 360 | 480 | 768 | 980 | 1200 */

@media only screen and (min-width:360px){
    .bio-info{
        display: inline-block;  
    }
    .bio-card{
        margin-top: 2rem;
    }
    .container .bio:hover{
        width: 90%;
       height: 90vh;
       z-index: 100;
        
    }
    .bio:hover .social-container a{
        transform: translate(3rem);
    }
    .bio-body{
        flex: 2;
        margin-left: 1rem;
 
    }
    .bio-tittle-item{
        top: 160%;
    }

}

@media only screen and (min-width:768px){

    .bio-info{
        display: flex;  
    }
    .bio-card{
        margin-top: 2rem;
    }
    .container .bio:hover{
        margin-top: 2vh;
        width: 90%;
        height: 85vh;
        
    }
    .bio-body{
        flex: 1;
        margin-left: 0;

    }
    .bio-tittle-item{
        top: auto;
    }
}

@media only screen and (min-width:940px){

    .container .bio:hover{
        margin-top: 5vh;

    }
}
@media only screen and (min-width:1200px){
    .container .bio:hover{
        width: 70%;
        height:80vh;
    }
    .bio:hover .social-container a{
        transform: translate(4rem);
    }
}
