footer{
    width: 100%;
    height: 6rem;
    background-color:var(--color-font);
    display: flex;
    justify-content:center;
    align-items:center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.footer-content{
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.footer-content p{
    color: #cccccc;
    font-family: var(--font-secundary);
    font-size: 1rem;
}

.footer-content a{
    margin: 0 2rem;
    text-decoration: none;
    color: #cccccc;
    transition: all 0.5s;
}

.footer-content a:hover{
    color: var(--color-contrast);
    font-size: 2rem;
}

.social-list{
    margin: 0 2rem;
    color: #cccccc;
    font-size:1rem;
}

.social-list ul{
    display: flex; 
}

/*responsiveness*/
/*breakpoints 360 | 480 | 768 | 980 | 1200 */

@media only screen and (min-width:360px){

}

@media only screen and (min-width:940px){

}
