
.hamburguer{
    background-color: none;
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index:100;
    right: 2rem;
    top: 2rem;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 150;
}
.hamburguer span{
    position: absolute;
    left: 3rem;
    background-color: var(--color-secundary);
    left: 3rem;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content:center;
    align-items:center;
    color: var(--color-primary);
    font-family: var(--font-action);   
    opacity: 0;
}
.hamburguer span::before{
    content:"";
    position: absolute;
    border-right: .5rem solid #00B4DB;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}
.show-menu .hamburguer{
    right: 16rem;
}
.show-menu .hamburguer:hover span{
    opacity: 1;
}
.line{
    width: 100%;
    background-color:#ffffff;
    height: 0.15rem;
    box-shadow: 0.1rem 0.1rem 1px #000000;
    transition: transform 1s;
}
/*giro hamburguer*/
.show-menu #line1{
    transform: rotate(45deg) translate(0.4rem, 0.325rem);
}
.show-menu #line3{
    transform: rotate(-45deg) translate(0.3rem, -0.325rem);;
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
