.sessao-languages {
    background-color:#f5f5f5;
    width: 100%;
    font-family: var(--font-action);
    color: #4b4b4b;
}
/*
.sessao-languages .sessao-header h1{
    margin-top: 10%;
    
}

*/
.sessao-languages-content{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

.sessao-languages-content-item{
    width: 30%;
    margin: 2rem; 
    text-align:center; 
}

/*responsiveness*/
/*breakpoints 360 | 480 | 768 | 980 | 1200 */

@media only screen and (min-width:360px){
    .sessao-languages-content{
        flex-direction: column;
    }
}

@media only screen and (min-width:768px){
    .sessao-languages-content{
        flex-direction: row;
    }
}

