.sessao-languages {
    background-color:#f5f5f5;
    width: 100%;
    font-family: var(--font-action);
    color: #4b4b4b;
}
.sessao-languages .sessao-header h1{
    padding-top: 2rem;
    
}
.sessao-languages-content{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}
.sessao-languages-content-item{
    width: 30%;
    margin: 2rem 2rem 3rem 2rem; 
    text-align:center;
    
}
