.sessao-skills{
    background-color:#f5f5f5;
    width: 100%;
}

.skills{
    display: grid;
    padding:1rem;
    grid-gap: 2rem;
    color: #4b4b4b;
    grid-template-columns: repeat(auto-fit, 1fr);
}

.skill{
    padding:1rem;  
}

.skill:hover{
    border: 1px solid #00b3dbe3;
    border-radius: .5rem;
}

.skills-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

.skill-header {
    display:flex;
    align-items: center;
}

.skill-header:hover{
    color:var(--color-contrast);
}

.skill-header i{
    font-size: 2.5rem;
    color: #4b4b4b;
}

.skill-header i:hover{
    color: #ff0157;
    font-size: 2.7rem;
}

.skill-header h3{
    font-family: var(--font-action);
    font-size: 1.5rem;
    font-weight: bolder;
    padding-left: 1rem;
}

.skill-header h3:hover{
    color: var(--color-contrast);
    font-size: 1.7rem;
}

.skill-text{
    font-family: var(--font-primary);
    font-weight: lighter;
    margin-top: 1rem;
    color: #4b4b4b;
    font-size: 1rem;
    line-height: 1.2rem;
}

.skill-text a:hover{
    font-size: 1.2rem;
    color: var(--color-contrast);
}

/*responsiveness*/
/*breakpoints 360 | 480 | 768 | 980 | 1200 */
@media only screen and (min-width:768px){
    .sessao-skills .sessao-header h1{
    padding-top: 4rem;
    }

}

@media only screen and (min-width:940px){
    .sessao-skills .sessao-header h1{
        padding-top: 3rem;
        }

}


