/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;1,400;1,500&family=Mulish:ital,wght@0,400;0,500;1,300;1,400&display=swap');
/*cdn font-awesome*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/*-------------------------------------- GLOBAL STYLES */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; 
 }

:root{
    --font-primary: 'Baloo 2', serif;
    --font-secundary: 'Josefin Slab', serif;
    --font-action: 'Mulish', serif ;
    --color-primary: #ffffff; 
    --color-altprimary: #f5f5f5;
    --color-secundary: #00b3dbe3;
    --color-altsecundary: #0083B0;
    --color-action: #00B4DB;
    --color-font: #262626;
    --color-contrast: #ff0157;
    --color-midgray:#4b4b4b;
    --color-lightgray: #bbbbbb;
}

a{
    text-decoration:none;
}

#link-topo{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 2rem;
    height: 2rem;
    background: -webkit-linear-gradient(to right, var(--color-altsecundary), var(--color-action));  
    background: linear-gradient(to left, var(--color-altsecundary), var(--color-action)); 
    display:flex;
    justify-content:center;
    align-items:center;
    color: var(--color-primary);
    border-radius:50%;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5) ;
}

#link-topo:hover{
    background:var(--color-contrast);
}

.container,
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.section-header{
    display:flex;
    align-items: center;
    justify-content:center;
}

.section-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: var(--color-midgray);
    border-bottom: 3px solid var(--color-altsecundary);
    padding-top: 4rem;
    margin-bottom: 4rem;
}

hr {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 0;
    border-bottom: 2px solid rgba(0, 162, 255, 0.438);
  }

#hr-no-bottom{
    margin-bottom: 0;
}

 #linet1{
    margin-top: 0;  
}

/*-------------------------------------- HAMBURGUER */

.hamburguer{
    background-color: none;
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 150;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    background-color: var(--color-secundary);
    left: 3rem;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content:center;
    align-items:center;
    color: var(--color-primary);
    font-family: var(--font-action);   
    opacity: 0;
}

.hamburguer span::before{
    content:"";
    position: absolute;
    border-right: .5rem solid var(--color-action);
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer{
    right: 16rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

.line{
    width: 100%;
    background-color:var(--color-secundary);
    height: 0.15rem;
    box-shadow: 0.1rem 0.1rem 1px var(--color-action);
    transition: transform 1s;
}

/*animation*/
.show-menu #line1{
    transform: rotate(45deg) translate(0.4rem, 0.325rem);
}
.show-menu #line3{
    transform: rotate(-45deg) translate(0.3rem, -0.325rem);;
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

/*-------------------------------------- HEADER */

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    animation: zoom 7s;
}

.banner{
    position: absolute;
    top: 35%;
    left: 10%;
}

.banner h1{
    color: var(--color-primary);
    font-size: 3.5rem; 
    font-family: var(--font-primary);
    font-weight: 300;
    text-shadow: .1rem .2rem 2px rgba(0,0,0,0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.5s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    color: var(--color-primary);
    font-size: 2rem;
    text-shadow: .1rem .2rem 2px rgba(0,0,0,0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 3s forwards;
}

.banner button{
    font-family:var(--font-action);
    text-transform: uppercase;
    padding: 1rem 3rem;
    border: none;
    letter-spacing: .1rem;   
    background: -webkit-linear-gradient(to right, var(--color-altsecundary), var(--color-action));  
    background: linear-gradient(to left, var(--color-altsecundary), var(--color-action)); 
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 4s forwards;
}

.banner button:hover{
    background:var(--color-contrast);
    font-weight:600;
}

.banner a{
    font-family:var(--font-action);
    color: var(--color-primary);
    text-transform: uppercase;
    text-decoration: none;
}

.banner a:hover{
    color: var(--color-primary);
}

.banner button:hover{
    opacity: 0.7;
    
}

/*zoom-image*/
@keyframes zoom{
    0%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}

/*text position*/
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}


/*-------------------------------------- SIDEBAR */

.sidebar{
    width:20rem;
    height: 100vh;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 100;
}

.show-menu .sidebar{
    right: 0rem;
}

.menu{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: 1rem;
}

.menu-link{
    font-family: var(--font-action) ;
    font-size:1.5rem;
    color: var(--color-midgray);
    transition-duration: color 1s;
}

.menu-link:hover{
    color: var(--color-contrast);
}

.social-media{
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display:flex;
    justify-content:space-evenly;
}

.social-media i{
    background-color:  var(--color-primary);
    color: var(--color-action);
    height:2.5rem;
    width:2.5rem;
    font-size:2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover{
    color: var(--color-contrast);
}

/*-------------------------------------- BIO */

.section-bio{
    width: 100%;
    background:linear-gradient(var(--color-lightgray), var(--color-altprimary));
    color: var(--color-font);   
}

.section-bio .container{
    padding-top: 4rem;
}

.bio-info{
    display: flex;
}

.section-bio .bio-text p{
    font-size:1.125rem;
    padding-bottom: 1.5rem;
}

.bio-card{   
    object-fit: cover;
    flex: 1; 
    color: var(--color-primary);
    display: flex;
    justify-content:center;
    align-items: center;
}

.container .bio{
    position: relative;
    background: linear-gradient(to left, var(--color-altsecundary), var(--color-action)); 
    width: 70%;
    height: 35rem;
    border-radius: 1rem;
    padding:2rem;
    cursor: pointer;
    box-shadow: 0 0 60px 5px(0,0,0,0.15);
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: 0.4s;
    margin-top:5rem;
}

.container .bio:hover{
    margin-top:3rem;
}

.image-container{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.figure img{
    max-width: 100%;
}

.bio-card-title{
    font-family: var(--font-primary);
    margin-top: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.bio-card-subtitle{
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    margin-top: .5rem;
    font-family: var(--font-primary);
    color: var(--color-secondary);
    font-size: .9rem;
    font-weight: lighter;
}

.bio-card-text{
    font-family: var(--font-primary);
    font-size: 0.80rem;
    font-weight: 300;
    line-height: 1.2rem;
}

.container .bio .bio-card-text li{
    margin-bottom:1rem;
}

.social-container{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
}

.social-container a{
    border: none;
    outline: none;
    background: none;
    color: var(--color-primary);
    width: 2rem;
    height: 2rem;
    font-size: 1.7em;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.4s;
}

.bio .social-container a:hover {
    color: var(--color-contrast);
}

.bio-body{  
    flex: 1;
    margin-left: 1rem;
    margin-right:1rem;
    margin-top:5rem;
}

.bio-title{
    font-family: var(--font-action);
    margin-top: 10vh;
    font-size: 2.2rem;
    color: var(--color-altsecundary);   
    font-weight: bold;
}

.bio-title-item{
    position: absolute;
    opacity: 0;
    animation: fader 16s infinite; 
    height: 2.2rem;
}

/*hello text*/
@keyframes fader {
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}
  
.english{
    animation-delay: 8s; 
}

.englishContrast{
    color: var(--color-primary);
    background-color: var(--color-altsecundary);
    animation-delay: 1s; 
}

.spanish{
    animation-delay: 4s; 
}

.spanishContrast{
    color: var(--color-primary);
    background-color: var(--color-altsecundary);
    animation-delay: 11s; 
}

.portuguese{
    animation-delay: 14s; 
}

.bio-text{
    font-family: var(--font-primary);
    color: var(--color-midgray);
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: lighter;
    margin-top: 25vh;
}

.bio-text a:hover{
    color: var(--color-contrast);
    font-size: 1.2rem;
}

.sessao-header-bio{
    display:flex;
    align-items: center;
    justify-content:start;
}

/*-------------------------------------- SKILLS */

.section-skills{
    background-color:var(--color-altprimary);
    width: 100%;  
}

.skills{   
    display: grid;
    padding:1rem;
    grid-gap: 2rem;
    color: var(--color-midgray);
    grid-template-columns: repeat(auto-fit, 1fr);
    padding-bottom: 4rem;
}

.skill{
    padding:1rem;  
}

.skill:hover{
    border: 1px solid var(--color-contrast);
    border-radius: .5rem;
}
.skill:hover .skill-header{
    color:var(--color-contrast);
}

.skill:hover .skill-header i{
    color:var(--color-contrast);
    font-size: 2.7rem;
}
.skill:hover .skill-header h3{
    color: var(--color-contrast);
    font-size: 1.7rem;
}
.skills-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

.skill-header {
    display:flex;
    align-items: center;
}

.skill-header i{
    font-size: 2.5rem;
    color: var(--color-midgray);
}

.skill-header h3{
    font-family: var(--font-action);
    font-size: 1.5rem;
    font-weight: bolder;
    padding-left: 1rem;
}

.skill-text{
    font-family: var(--font-primary);
    font-weight: lighter;
    margin-top: 1rem;
    color: var(--color-midgray);
    font-size: 1.125rem;
    line-height: 1.2rem;
}

.skill-text a:hover{
    font-size: 1.2rem;
    color: var(--color-contrast);
}

/*-------------------------------------- LANGUAGES*/

.section-languages {
    background-color:var(--color-altprimary);
    width: 100%;
    font-family: var(--font-action);
    color: var(--color-midgray);
}

.section-languages-content{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding-bottom:4rem;
}

.section-languages-content-item{
    width: 30%;
    margin: 2rem; 
    text-align:center; 
}

.section-languages-content-item{
    width: 100%;   
}

/*-------------------------------------- MEDIA QUERIES */

@media only screen and (min-width:320px){
    .banner{
        left: 5%;
    }

    .banner h1{
        font-size: 2.5rem;
    } 
    .banner p{
        font-size: 1.25rem;
    }
    .banner button{
        padding: 0.80rem 2.44rem;
        margin-bottom: 2rem;
        font-size: .80rem;
    }
    .bio-info{
        flex-direction: column;
    }

    .container .bio .bio-card-text li{
        margin-bottom:0.75rem;
    }

    .container .bio{
        width: 85%;
    } 
        
    .section-languages .sessao-header h1{
        margin-top: -10%;  
    }
    .section-languages-content{
        flex-direction: column;
        justify-content:center;
    }

}

@media only screen and (min-width:320px) and (max-width:575px){

    .container .bio .bio-card-text li{
        margin-bottom:0.5rem;
    }

}

@media only screen and (min-width:768px){
    .banner{
        left: 10%;
    }

    .banner h1{
        font-size: 3.5rem;
    } 
    .banner p{
        font-size: 2rem;
    }
    .banner button{
        padding: 1rem 3rem;
        font-size: 1rem;
    }

    .bio-info{
        flex-direction: row;
    }

    .section-bio .bio-text p{
        font-size:1rem;
        padding-bottom: 1rem;
    }

    .section-skills .section-header h1{
        padding-top: 4rem;
    }
    
    .section-languages-content-item{
        width: 30%;   
    }
    .section-languages .sessao-header h1{
        margin-top: -7%;  
    }
    .section-languages-content{
        flex-direction: row;
    }
      
}

@media only screen and (min-width:1200px){
    .container .bio{
        width: 70%;
    } 
    .container .bio .bio-card-text li{
        margin-bottom:1rem;
    }

    .section-bio .bio-text p{
        font-size:1.125rem;
        padding-bottom: 1.5rem;
    }

    .section-skills .section-header h1{
        padding-top: 3rem;
        }
    
}





